<section class="login-page">
  <div class="login-page-div">
    <div class="login-block">
      <h1>Log into your account</h1>
      <form action="#">

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
            <input type="text" class="form-control" placeholder="Your name">
          </div>
        </div>
        <hr class="hr-xs">

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
            <input type="password" class="form-control" placeholder="Enter your password">
          </div>
        </div>
        <hr class="hr-xs">
        <a href="projects"class="btn btn-primary btn-block">Register</a>
      </form>
    </div>
    <div class="login-links">
      <p class="text-center">Donnt have an account? <a class="txt-brand" href="register">Register</a></p>
    </div>

  </div>
</section>