<nav class="navbar navbar-expand-lg navbar-light p-3">
  <div class="container-fluid">
    <span class="navbar-brand">PROJECTS-PORTAL</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2" href="projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="participants">Participants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="todo">ToDoList</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="https://www.instagram.com/deepaksilaych/"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="https://www.linkedin.com/in/deepak-silaych-932940251/"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="https://github.com/DeepakSilaych"><i class="fa fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>