<section class="login-page">
    <div class="login-page-div">
      <div class="login-block">
        <h1>Register your account</h1>
        <form action="#">
  
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
              <input type="text" class="form-control" placeholder="Enter First Name">
            </div>
          </div>
          <hr class="hr-xs">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
              <input type="text" class="form-control" placeholder="Enter Last Name">
            </div>
          </div>
          <hr class="hr-xs">
  
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
              <input type="password" class="form-control" placeholder="Choose a password">
            </div>
          </div>
          <hr class="hr-xs">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
              <input type="password" class="form-control" placeholder="Confirm a password">
            </div>
          </div>
          <hr class="hr-xs">
          <a href="projects"class="btn btn-primary btn-block">Register</a>
        </form>
      </div>
      <div class="login-links">
        <p class="text-center">Already have an account? <a class="txt-brand" href="login">Login</a></p>
      </div>
  
    </div>
  </section>